html, head, header, img, title, body, a, h1, h2, h3, section, aside, p, ul, li, footer, img, hr {

} 

body
{
	font-family:"Segoe UI";
}
ul li
{
	list-style: none;
	display: inline;
	text-decoration: none;
}
header ul
{
	float:right;
	
}	

aside
{
	float: right;
}
header li
{
    
  	margin-left: 20px;
	margin-right: 20px;
}
h1
{
	font-size:50px;
}
h2
{
	font-size:30px;
	text-align:center;
}
p 
{
	text-align:center;
}
header a
{
	text-decoration: none;
	color: black;
	font-size:20px;	
}
footer
{
	float: ;
}
footer a
{
     text-decoration: none;
     color: black;   
}
footer ul
{
	float:center;
}
footer li
{
    
  	margin-left: 20px;
	margin-right: 20px;
}
hr
{
	border-color:black;
}
body
{
    padding: 0px 154px;
    
}
