html, head, header, img, title, body, a, h1, h2, h3, section, aside, p, ul, li, footer, img, hr {

} 


body {
	font-family:"Segoe UI";
}

ul li {
	list-style: none;
	display: inline;
	text-decoration: none;
}

header ul {
	float:right;
	padding-top: 20px;
	
}	

aside {
	float: right;
	width: 30%;
}

header li {
    
  	margin-left: 20px;
	margin-right: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 			'Yanone Kaffeesatz', sans-serif;
	font-weight: 			normal; 
	margin: 					20px 0 10px 0;
}

h1 {
	font-family:"Yanone Kaffeesatz", sans-serif;
	font-size:70px;
}

h2 {
	font-size:30px;
	text-align:center;
	font-family:"Yanone Kaffeesatz";
}

p {
	text-align:center;
}

header a {
	text-decoration: none;
	color: black;
	font-size:20px;	
}

footer a {
     text-decoration: none;
     color: black;   
}

footer ul {
	float:center;
}

footer li {
    
  	margin-left: 20px;
	margin-right: 20px;
}

hr {
	border-color:black;
}

body {
    padding: 0px 150px;
    
}

section {
	width:70%;
}
